.web-align{
    height: 600px;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
.setAlign {
    max-height: 700px;
        min-height: 600px;
        height: calc(100vh - 82px);
        margin-top: 30px;
    }