<div>
    <div class="container">
        <div class="row">
            <section>
                <div class="setAlign d-flex">
                    <div class="p-2 flex-fill bd-highlight" style="margin-top: 150px; width: 600px;"> <h1>Invest in funds                       
                    </h1></div>
                    <div class="p-2 flex-fill bd-highlight" style=" width: 600px;">
                        <div style="margin-left: 450px; margin-bottom: 10px;">
                        <a routerLink="/funds" style="font-size: 20px;">View all -></a>
                        </div>
                      <div>
                        <div class="row ">
                            <div class="col-sm-6 ">
                              <div class="card text-white bg-dark" >
                                <div class="card-body">
                                  <h5 class="card-title">Axis Mutual Funds</h5>
                                 
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="card text-white bg-dark">
                                <div class="card-body">
                                  <h5 class="card-title">Hdfc Mutual Funds</h5>
                                  </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="mt-3">
                        <div class="row">
                            <div class="col-sm-6">
                              <div class="card text-white bg-dark">
                                <div class="card-body">
                                  <h5 class="card-title">Axis Mutual Funds</h5>
                                 
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="card text-white bg-dark">
                                <div class="card-body">
                                  <h5 class="card-title">Hdfc Mutual Funds</h5>
                                  </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="mt-3">
                        <div class="row">
                            <div class="col-sm-6">
                              <div class="card text-white bg-dark">
                                <div class="card-body">
                                  <h5 class="card-title">Axis Mutual Funds</h5>
                                 
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="card text-white bg-dark">
                                <div class="card-body">
                                  <h5 class="card-title">Hdfc Mutual Funds</h5>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    
                </div>

            </section>

        </div>

    </div>


</div>