<body>
    <div class="container shadow">
        <div class="table-wrapper">
            <div class="table-title mt-2">
                <div class="row">
                    <div class="col-sm-4 headst">
                        <h2><b>My Investments</b></h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Fund Name</th>
                        <th>AMC</th>
                        <th>Buy Date</th>
                        <th>Type</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let user of userFundService.userFundHistory; index as i">
                        <td>{{i+1}}</td>
                        <td>{{user[0]}}</td>
                        <td>{{user[1]}}</td>
                        <td>{{user[4]}}</td>
                        <td>{{user[2]}}</td>
                        <td>{{user[3]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<app-footer></app-footer>