<div class="container">
  <p class="display-4 text-center">Funds</p>
  <hr />
  <div>
    <div class="d-flex justify-content-around">

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          AMC
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="findByAmc()" *ngFor="let fundamc of fundService.fundsAmc">{{fundamc}}</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Risks
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">High</a>
          <a class="dropdown-item" href="#">Medium</a>
          <a class="dropdown-item" href="#">Low</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Return
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">After 1 month</a>
          <a class="dropdown-item" href="#">After 1 Year</a>
          <a class="dropdown-item" href="#">After 3 Year</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          AUM
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>

    </div>
  </div>
  <br>

  <!-- <div class="d-flex justify-content-around "> -->
  <div class="container">
    <div class="row" style="margin-left: 25px;">
        <div class="card mb-4" *ngFor="let fund of fundService.funds" style="width: 18rem; margin-right:50px ;">
          <img [src]="fund.imgSrc" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{fund.fundName}}</h5>
            <p class="card-text">{{fund.fundDesc}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="text-muted">AUM :</span> {{fund.fundAum}}</li>
            <li class="list-group-item"><span class="text-muted">Risks :</span> {{fund.fundRisk}}</li>
            <li class="list-group-item"><span class="text-muted">Type :</span> {{fund.fundType}}</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Buy</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    </div>
  </div>
  <!-- </div> -->



  <!-- <div class="card mb-2" *ngFor="let fund of fundService.funds">
    <div class="card-body">
      <h5 class="card-title">{{ fund.fundId }}</h5>
      <p class="card-text">
        {{ fund.fundAmc }}
      </p>
      <p class="card-text">
        {{ fund.fundName }}
      </p>
    </div>
  </div> -->
</div>

<app-footer></app-footer>