<nav class="navbar navbar-expand-lg animate__animated animate__fadeIn" id="darkgreen">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <h4 id="cyan"><b>VAVJA</b></h4> <b id="white"> Mutual Funds</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline" (ngSubmit)="searchFund(fund.fundName)">
      <input class="form-control mr-sm-6 " style="margin-left: 200px; width: 400px;" type="search" placeholder="Search"
        aria-label="Search" name="search" [(ngModel)]="fund.fundName" ngDefaultControl #search="ngModel">
    </form>
    <button class="btn btn-outline-success btn-rounded my-3"  (click)="searchFund(fund.fundName)"
      style="margin-left: 5px;" id="cyan">Search</button>

  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 70px;">
    <button class="btn btn-outline-success btn-rounded my-3" style="margin-left: 180px; margin-right: 5px"
      routerLink="/calculator" id="cyan">Calculator</button>
    <div class="dropdown">
      <button ngbDropdown class="btn btn-outline-success btn-rounded ml-1" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="!navauth()" style="width: 150px;">
        {{auth.currentUser.userName}}
      </button>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a ngbDropDownToggle class="dropdown-item" href="#" routerLink="/myprofile">My Profile</a>
        <a ngbDropDownToggle class="dropdown-item" href="#" routerLink="/myinvestment">My Investment</a>
        <a ngbDropDownToggle class="dropdown-item" href="#" routerLink="">Log Out</a>
      </div>
    </div>
    <img [src]="auth.currentUser.imgSrc" style="width:40px; border-radius:20px; margin-left: 2px;" alt="">
    <button class="btn btn-outline-success btn-rounded ml-3" data-toggle="modal" data-target="#modalLRForm"
      routerLink="/signin" id="cyan" *ngIf="navauth()">LogIn</button>
  </div>

</nav>