<div>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand"><b>VAVJA</b> Mutual Funds</a>
        <form class="form-inline">
          <input class="form-control mr-sm-6 " style="margin-left: 200px; width: 400px;" type="search" placeholder="Search" aria-label="Search">
        </form>
        <button class="btn btn-outline-success btn-rounded" style="margin-left: 250px;">Calculator</button>
        <button class="btn btn-outline-primary btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm" routerLink="/signin">LogIn/Register</button>
      </nav>
</div>