<nav class="navbar navbar-expand-lg animate__animated animate__fadeIn" id="darkgreen">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><h4 id="cyan"><b>VAVJA</b></h4> <b id="white"> Mutual Funds</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline">
      <input class="form-control mr-sm-6 " style="margin-left: 200px; width: 400px;" type="search" placeholder="Search"
        aria-label="Search">
    </form>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <button class="btn btn-outline-success btn-rounded my-3" style="margin-left: 250px; margin-right: 10px"
      routerLink="/calculator" id="cyan">Calculator</button>
    <button class="btn btn-outline-success btn-rounded ml-1" data-toggle="modal" data-target="#modalLRForm"
      routerLink="/signin" id="cyan" >LogIn</button>
  </div>

</nav>